@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Bull project is a learning project only. No business or other activity expected.</p>
<p>According to foregoing it is no Terms of service, no personal data will be collected.</p>