@model Book

<form method="post">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Book</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="p-0"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Isbn" class="p-0"></label>
            <input asp-for="Isbn" class="form-control"/>
            <span asp-validation-for="Isbn" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="p-0"></label>
            <input asp-for="Author" class="form-control"/>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ListPrice" class="p-0"></label>
            <input asp-for="ListPrice" class="form-control"/>
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price50" class="p-0"></label>
            <input asp-for="Price50" class="form-control"/>
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price100" class="p-0"></label>
            <input asp-for="Price100" class="form-control"/>
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="p-0"></label>
            <select asp-for="CategoryId" 
                    asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" 
                    class="form-select">
                <option disabled selected>--- Select Category ---</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Save</button>
            </div>
            <div class="col-6">
                <a asp-controller="Book" asp-action="Index" class="btn btn-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}